  alias: Mark person as just left
  initial_state: 'on' 
  trigger:
    - platform: state
      entity_id: binary_sensor.giel_bayesian
      from: 'on'
      to: 'off'
    - platform: state
      entity_id: binary_sensor.martine_bayesian
      from: 'on'
      to: 'off'
    - platform: state
      entity_id: binary_sensor.noor_bayesian
      from: 'on'
      to: 'off'
    - platform: state
      entity_id: binary_sensor.fien_bayesian
      from: 'on'
      to: 'off'
    - platform: state
      entity_id: binary_sensor.iphone_4_bayesian
      from: 'on'
      to: 'off'
  action:
    - service: input_select.select_option
      data_template:
        entity_id: >
          {% if trigger.entity_id == 'binary_sensor.giel_bayesian' %}
            input_select.giel_status_dropdown
          {% elif trigger.entity_id == 'binary_sensor.martine_bayesian' %}
            input_select.martine_status_dropdown
          {% elif trigger.entity_id == 'binary_sensor.noor_bayesian' %}
            input_select.noor_status_dropdown
          {% elif trigger.entity_id == 'binary_sensor.fien_bayesian' %}
            input_select.fien_status_dropdown
          {% else %}
            input_select.iphone4_status_dropdown
          {% endif %}
        option: Juist Weg