
input_select:
  giel_status_dropdown:
    name: Giel
    options:
      - Thuis
      - Juist Aangekomen
      - Juist Weg
      - Afwezig
      - Langdurig Afwezig
  
  martine_status_dropdown:
    name: Martine
    options:
      - Thuis
      - Juist Aangekomen
      - Juist Weg
      - Afwezig
      - Langdurig Afwezig
  
  noor_status_dropdown:
    name: Noor
    options:
      - Thuis
      - Juist Aangekomen
      - Juist Weg
      - Afwezig
      - Langdurig Afwezig
  
  fien_status_dropdown:
    name: Fien
    options:
      - Thuis
      - Juist Aangekomen
      - Juist Weg
      - Afwezig
      - Langdurig Afwezig

binary_sensor:
  - platform: template
    sensors:
      noor_juist_aangekomen:
        value_template: >
          {{ is_state("device_tracker.noor_not_so_binary", 'Juist Aangekomen') and states("sensor.count_nphone_detection_last_hour") | int < 3 }}
      fien_juist_aangekomen:
        value_template: >
          {{ is_state("device_tracker.fien_not_so_binary", 'Juist Aangekomen') and states("sensor.count_fphone_detection_last_hour") | int < 3 }}

sensor:
  - platform: template
    sensors:
      giel_status:
        value_template: '{{ states.input_select.giel_status_dropdown.state }}'
        friendly_name: 'Giel'
      martine_status:
        value_template: '{{ states.input_select.martine_status_dropdown.state }}'
        friendly_name: 'Martine'
      noor_status:
        value_template: '{{ states.input_select.noor_status_dropdown.state }}'
        friendly_name: 'Noor'
      fien_status:
        value_template: '{{ states.input_select.fien_status_dropdown.state }}'
        friendly_name: 'Fien'
      people_arrive_count:
        entity_id: 
          - device_tracker.martine_not_so_binary
          - device_tracker.giel_not_so_binary
          - binary_sensor.noor_juist_aangekomen
          - binary_sensor.fien_juist_aangekomen
          # - device_tracker.noor_not_so_binary
          # - device_tracker.fien_not_so_binary
        value_template: >-
          {% set count = 0 %}
          {% if is_state("device_tracker.martine_not_so_binary", "Juist Aangekomen") %}
            {% set count = count + 1 %}
          {% endif %}
          {% if is_state("device_tracker.giel_not_so_binary", "Juist Aangekomen") %}
            {% set count = count + 1 %}
          {% endif %}
          {% if is_state("binary_sensor.noor_juist_aangekomen", "on") %}
            {% set count = count + 1 %}
          {% endif %}
          {% if is_state("binary_sensor.fien_juist_aangekomen", "on") %}
            {% set count = count + 1 %}
          {% endif %}
          {{count}}
