# Byte-compiled / optimized / DLL files
__pycache__/
__pycache__

# C extensions
*.so

# Distribution / packaging
.Python
env/
downloads/

# Hide some OS X stuff
.DS_Store
.AppleDouble
.LSOverride
Icon

# Packages
*.egg
*.egg-info
dist
build
eggs
.eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

#.vscode
.vscode/

# HomeAssistant
backup
share
addons
config/appdaemon/
config/deps
config/homebridge
config/tts
config/*.conf
config/*.log
config/*.json
config/secrets.yaml
config/known_devices.yaml
config/devices/shell_commands.yaml
config/google_calendars.yaml
Guides/Raspberry Pi files/
Guides/Raspberry Pi Zero W Bluetooth/known_static_addresses
Guides/somfy
ssh
config/esphomeyaml/
