# Byte-compiled / optimized / DLL files
__pycache__/
__pycache__

# C extensions
*.so

# Distribution / packaging
.Python
env/
downloads/

# Hide some OS X stuff
.DS_Store
.AppleDouble
.LSOverride
Icon

# Packages
*.egg
*.egg-info
dist
build
eggs
.eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# HomeAssistant
backup
share
addons
config/appdeamon
config/deps
config/homebridge
config/tts
config/*.conf
config/*.log
config/*.json
config/secrets.yaml
config/known_devices.yaml
config/google_calendars.yaml
ssh
