# Byte-compiled / optimized / DLL files
__pycache__/
__pycache__

# C extensions
*.so

# Distribution / packaging
.Python
env/
downloads/

# Hide some OS X stuff
.DS_Store
.AppleDouble
.LSOverride
Icon

# Packages
*.egg
*.egg-info
dist
build
eggs
.eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

#.vscode
.vscode/

# HomeAssistant
backup
share
addons
config/appdaemon/
config/deps
config/notebooks
config/homebridge
config/espresence
config/tts
config/*.conf
config/*.log
config/*.json
config/.*
config/secrets.yaml
config/ip_bans.yaml
config/known_devices.yaml
config/google_calendars.yaml
documentation/Raspberry Pi files/
documentation/Raspberry Pi NodeRed & Monitor & Homekit2Mqtt/configs/monitor/known_static_addresses
documentation/somfy
documentation/UNMS
documentation/tijdelijk.yaml
documentation/add-ons_config
documentation/temp.log
documentation/temp
documentation/Hidden/
config/esphome/common/secrets.yaml
config/esphome/secrets.yaml
config/frigate.yml

ssh
config/esphomeyaml/
config/custom_components/.idea



###  ????  ###
Laatst gewijzigde config.savedSearch
config/ESPSomfyRTS_105180/
