  - platform: template
    sensors:
      keuken_not_playing:
        value_template: "{{ states('media_player.keuken') != 'playing' }}"
      badkamer_not_playing:
        value_template: "{{ states('media_player.badkamer') != 'playing' }}"
      living_2_not_playing:
        value_template: "{{ states('media_player.living_2') != 'playing' }}"
      synology_on:
        value_template: "{{ states('switch.synology') == 'on' }}"