  alias: Knop Giel klik
  initial_state: 'on' 
  trigger:
    - platform: state
      entity_id: binary_sensor.knop_giel_klik
      to: 'on'
  action:
    - service: light.toggle
      entity_id: light.spot_slaapkamer
    - delay:
        seconds: 1
    - condition: state
      entity_id: light.spot_slaapkamer
      state:  'on'
    - service: light.turn_on
      data:
        brightness: 255
        rgb_color: [255, 236, 182]
        entity_id: light.spot_slaapkamer
        
