  verluchting_2_uur:
    sequence:
      - service: switch.turn_on
        entity_id: switch.verluchting
      - service: switch.turn_on
        entity_id: switch.shelly_shplg_s_7ade98
      - delay:
          minutes: 120
      - service: switch.turn_off
        entity_id: switch.verluchting
      - service: switch.turn_off
        entity_id: switch.shelly_shplg_s_7ade98
