  alias: Light inkom achterdeur open
  initial_state: 'on' 
  trigger:
    - platform: state
      entity_id: binary_sensor.achterdeur_open
      to: 'on'
  condition:
    condition: and
    conditions:
      - condition: state
        entity_id: light.luster_keuken
        state: 'off'
      - condition: state
        entity_id: light.inkom
        state: 'off'
      - condition: state
        entity_id: light.spots_keuken
        state: 'off'
      - condition: state
        entity_id: sensor.dark_outside
        state: 'true'
  action:
    - service: light.turn_on
      data:
        entity_id: light.inkom