  alias: Puschbutton leds sync
  initial_state: 'on' 
  trigger:
    - platform: state
      entity_id: light.wc
    - platform: state
      entity_id: light.waskot
    - platform: state
      entity_id: light.badkamer_hoog
  action:
    - service_template: >
        {% if trigger.to_state.state == 'on' %}
          switch.turn_on
        {% else %}
          switch.turn_off
        {% endif %}
      data_template:
          entity_id: >
            {% if trigger.entity_id == 'light.wc' %}
              switch.led_wc
            {% elif trigger.entity_id == 'light.waskot' %}
              switch.led_waskot
            {% else %}
              switch.led_badkamer
            {% endif %}