input_boolean:
  allowyoutube:
    name: Youtube
    icon: mdi:youtube

switch:
  - platform: template
    switches:
      allowyoutube:
        value_template: "{{ is_state('input_boolean.allowyoutube', 'on') }}"
        icon_template: mdi:youtube
        friendly_name: Youtube
        turn_on:
          - service: input_boolean.turn_on
            data:
              entity_id: input_boolean.allowyoutube
        turn_off:
          - service: input_boolean.turn_off
            data:
              entity_id: input_boolean.allowyoutube

automation:
  - id: enable_youtube
    alias: Enable Youtube
    hide_entity: true
    initial_state: 'on'
    trigger:
      platform: state
      entity_id: input_boolean.allowyoutube
      to: 'on'
    action:
    - service: adguard.disable_url
      data:
        url: https://raw.githubusercontent.com/gieljnssns/Social-media-Blocklists/master/adguard-youtube.txt

  - id: disable_youtube
    alias: Disable Youtube
    hide_entity: true
    initial_state: 'on'
    trigger:
      platform: state
      entity_id: input_boolean.allowyoutube
      to: 'off'
    action:
    - service: adguard.enable_url
      data:
        url: https://raw.githubusercontent.com/gieljnssns/Social-media-Blocklists/master/adguard-youtube.txt