  garage_retain_0:
    sequence:
      - service: mqtt.publish
        data_template:
          topic: 'monitor/Garage/bompa'
          retain: true
          payload_template: "{\"confidence\":\"0\", \"type\":\"retained from away\"}"
      - service: mqtt.publish
        data_template:
          topic: 'monitor/Garage/oma'
          retain: true
          payload_template: "{\"confidence\":\"0\", \"type\":\"retained from away\"}"
      - service: mqtt.publish
        data_template:
          topic: 'monitor/Garage/gphone'
          retain: true
          payload_template: "{\"confidence\":\"0\", \"type\":\"retained from away\"}"
      - service: mqtt.publish
        data_template:
          topic: 'monitor/Garage/mphone'
          retain: true
          payload_template: "{\"confidence\":\"0\", \"type\":\"retained from away\"}"