{%- macro today() -%}
{{- today_at() -}}
{%- endmacro -%}

{%- macro tomorrow() -%}
{{- today_at() + timedelta(days=1) -}}
{%- endmacro -%}

{%- macro twodays() -%}
{{- today_at() + timedelta(days=2) -}}
{%- endmacro -%}

{%- macro threedays() -%}
{{- today_at() + timedelta(days=3) -}}
{%- endmacro -%}

{%- macro fourdays() -%}
{{- today_at() + timedelta(days=4) -}}
{%- endmacro -%}

{%- macro fivedays() -%}
{{- today_at() + timedelta(days=5) -}}
{%- endmacro -%}