  living_restore:
    sequence:
      - service: sonos.restore
        entity_id: media_player.living_2

  living_shuffle:
    sequence:
      - service: media_player.shuffle_set
        entity_id: media_player.living_2
        data:
          shuffle: 'true'

  living_snapshot:
    sequence:
      - service: sonos.snapshot
        entity_id: media_player.living_2

  living_source_tv:
    sequence:
      - service: media_player.select_source
        entity_id: media_player.living_2
        data:
          source: 'TV'

  playstation_on:
    sequence:
      - service: media_player.volume_set
        data:
          entity_id: media_player.philips_tv
          volume_level: 0.15
      - service: media_player.volume_set
        data:
          entity_id: media_player.living_2
          volume_level: 0.25
      - wait_template: "{{ is_state_attr('media_player.philips_tv', 'volume_level', 0) }}"
      
          
  playstation_off:
    sequence:
      - service: media_player.volume_set
        data:
          entity_id: media_player.philips_tv
          volume_level: 0.0
      - service: media_player.volume_set
        data:
          entity_id: media_player.living_2
          volume_level: 0.15
      - service: media_player.select_source
        data:
          entity_id: media_player.living_2
          source: TV